name: Autimated Testing
on: 
  # push:
  #   branches:
  #     - main
  pull_request:
    types: 
      - closed
    branches:
      - main
  workflow_dispatch:
env:
  DEPLOYMENT_MESSAGE: Deployment has been successful!
jobs:
  test:
    runs-on: ubuntu-latest
    steps: 
      - name: Get code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: npm ci
      - name: Lint
        run: npm run lint
      - name: Test code
        run: npm run test
      - name: Build code
        run: npm run build
      - name: Deploy project
        run: echo "${{env.DEPLOYMENT_MESSAGE}}"
