name: Reusable Deploy
on: 
    workflow_call:
        inputs:
            artifact-name:
                description: the name of the artifact to download
                required: false
                default: dist
                type: string
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Get Code
              run: actions/download-artifact@v4
              with:
                name: ${{inputs.artifact-name}}
            - name: List files
              run: ls
            - name: Output information
              run: echo "Deploying website..."